
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-style: normal;
}

:root{
    --font-weight600: 600;
    --font-weight700: 700;
    --text-color: #505050;
    --color-primary: #767676;
}