.body{
    background-color: #fff;
    padding-top: 125px;
}
.content-section{
    padding: 88px 6.111%;
}
.content-section--second{
    background-color: #ececec;
}
.content-line{
    width: 90px;
    height: 3px;
    background-color:rgb(171,3,51);
    margin-left: auto;
    margin-right: auto;
}
.content-title{
    text-align: center;
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
    color: var(--text-color);
}
.content__cards-list{
    display: flex;
    margin-top: 34px;
    gap: 32px;
}
.card-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.10);
    border-radius: 10px;
}
.card-item2{
    display: none;
}
.card-item:hover {
    cursor: pointer;
    scale: 1.05;
    transition: linear;
}
.card-item-head{
    width: 100%;
    height: 252px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    background: radial-gradient(138.81% 138.29% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
    position: relative;
    display: flex;
    justify-content: center;
}
.card--popular{
    background: radial-gradient(138.81% 138.29% at 1.22% 1.08%, #fff 0%, #fff 100%);
}
.card-item-img{
    width: 314px;
    height: 260px;
    flex-shrink: 0;
    position: absolute;
    top: -20px;
}
.card-img1{
    background: url(../img/card1.png) no-repeat;
}
.card-img2{
    background: url(../img/card2.png) no-repeat;
}
.card-img3{
    background: url(../img/card3.png) no-repeat;
}
.card-img4{
    background: url(../img/card4.png) no-repeat;
}
.popular-img1{
    background: url(../img/popular1.png) no-repeat;
}
.popular-img2{
    background: url(../img/popular2.png) no-repeat;
}
.popular-img3{
    background: url(../img/popular3.png) no-repeat;
}
.popular-img4{
    background: url(../img/popular4.png) no-repeat;
}
.card__item-body{
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card__item-body--info{
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.card__item-body--brand{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;

}
.card__item-body--name{
    color: var(--text-color);
}
.card__item-body--price{
    color: var(--text-color);
}
.card__item-body--text{
    color: var(--color-primary);
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 30px;
}
.card__item-body-chips{
    color: var(--text-color);
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
    padding: 2px 6px;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    display: inline;
}
.card__item-body-chips span{
    color: var(--text-color);
    font-size: 12px;
    line-height: 150%;
    font-weight: 700;
}
